:root.no-hover .btn,
:root.no-hover .btn-primary,
:root.no-hover .btn-secondary,
:root.no-hover .btn-success,
:root.no-hover .btn-danger,
:root.no-hover .btn-warning,
:root.no-hover .btn-info,
:root.no-hover .btn-light,
:root.no-hover .btn-dark,
:root.no-hover .btn-link,
:root.no-hover [class*="btn-outline-"] {
  --bs-btn-hover-color: var(--bs-btn-color);
  --bs-btn-hover-bg: var(--bs-btn-bg);
  --bs-btn-hover-border-color: var(--bs-btn-border-color);
  --bs-btn-hover-shadow: var(--bs-btn-box-shadow);
}

:root.no-hover .btn-link {
  --bs-btn-hover-color: var(--bs-btn-color);
  text-decoration: none;
}

:root.has-hover .btn {
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}
